
.planet {
  transition: opacity 0.5s;
  position: relative;
  text-shadow: 2px 2px 2px #333;
}

.planet header{
  text-align: center;
  text-transform: uppercase;
}

.planet article{
  padding: 30px 0;
  font-size: 20px;
  line-height: 30px;
  text-align: left;
}

.planet article .center{
  margin-top: 10px;
  text-align: center;
}

.planet--loading {
  opacity: 0;
}

.planet--loading:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
}